<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Crear Movimiento Bancario</title>
</head>
<body style="background:	#333333">
<div class="container py-5 h-100">
    <div class="card shadow-8   -strong" style="border-radius: 4rem;">
        <div class="card-body p-5 text-center" >
            <div><h3>Nuevo movimiento bancario</h3></div>
    <form action="#" th:action="@{/movimientosBancarios}" th:object="${movimiento}" method="post">
        <label> DireccionIP:</label><input class="form-control" type="text" th:field="*{DireccionIP}" required/><br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Usuario:</label><input class="form-control" type="text" th:field="*{usuario}" required/><br>
            </div>
            <div class="form-group col-md-6">
                <label>Cuenta:</label><input class="form-control" type="text" th:field="*{cuenta}" required/><br>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Tipo de transacción:</label><input class="form-control" type="text" th:field="*{tipoTransaccion}" required/><br>
            </div>
            <div class="form-group col-md-4">
                <label>Monto:</label><input class="form-control" type="text" th:field="*{monto}" required/><br>
            </div>
            <div class="form-group col-md-4">
                <label>Moneda:</label><input class="form-control" type="text" th:field="*{moneda}" required/><br>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Datos de cajero:</label><input class="form-control" type="text" th:field="*{datosCajero}" required/><br>
            </div>
            <div class="form-group col-md-6">
                <label>Fecha</label><input class="form-control" type="datetime-local" th:field="*{FechaHora}" required/><br>
            </div>
        </div>
        <label>Descripción:</label><input class="form-control" type="text" th:field="*{descripcion}" required/><br>
        <input type="text" th:field="*{causa}" readonly hidden/><br>

        <button class="btn btn-info" type="submit" name="newMovimientoBancario">Create</button>
    </form>
            <h1><a class="btn btn-info" th:href="@{/causas/view/{id}(id=${causa.id})}">volver</a></h1>

        </div>
    </div>
</div>
</body>
</html>