<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mas detealles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container border gx-5">
        <h1 >Informacion</h1>
        <span class="d-block p-2 bg-dark text-white" th:text="${'Nº: ' + causa.numero}"></span>
        <span class="d-block" th:text="${'Fecha: ' + causa.fecha}"></span>
        <span class="d-block" th:text="${'Victima: ' + causa.victima}"></span>
        <span class="d.block" th:text="${'Victimario: '+ causa.victimario}"></span>
        <br>
        <span class="d.block" th:text="${'Descripcion: '+ causa.descripcion}"></span>
        <br>

        <h2> Llamadas</h2>
        <table class="table table-bordered table-sm mt-2">
            <thead>
            <tr>
                <th>Direccion IP</th>
                <th> Fecha Hora</th>
                <th> Descripcion</th>
                <th> Nº Llamada</th>
                <th> Nº Receptor</th>
                <th> Duracion (min)</th>

            </tr>
            </thead>
            <tbody>

             <tr th:each="info : ${causa.informacion}">
                 <div th:if="${info.esLlamada==true}">
                     <td th:text="${info.DireccionIP}"></td>
                     <td th:text="${#dates.format(info.FechaHora, 'dd/MM/yyyy')}"></td>
                     <td th:text="${info.descripcion}"></td>
                     <td th:text="${info.numeroLlamada}"></td>
                     <td th:text="${info.numeroReceptor}"></td>
                     <td th:text="${info.duracion}"></td>
                 </div>
             </tr>
            </tbody>
        </table>

        <h2>Movimientos Bancarios</h2>
        <table class="table table-bordered table-sm mt-2">
            <thead>
            <tr>
                <th>Direccion IP</th>
                <th> Fecha Hora</th>
                <th> Descripcion</th>
                <th> Nº Cuenta</th>
                <th> Usuario</th>
                <th> Tipo de transaccion</th>
                <th> Monto</th>
                <th> Moneda</th>
                <th> Datos de cajero</th>


            </tr>
            </thead>
            <tbody>

            <tr th:each="info : ${causa.informacion}">
                <div  th:if="${info.esMovimiento==true}">
                    <td th:text="${info.DireccionIP}"></td>
                    <td th:text="${#dates.format(info.FechaHora, 'dd/MM/yyyy')}"></td>
                    <td th:text="${info.descripcion}"></td>
                    <td th:text="${info.cuenta}"></td>
                    <td th:text="${info.usuario}"></td>
                    <td th:text="${info.tipoTransaccion}"></td>
                    <td th:text="${info.monto}"></td>
                    <td th:text="${info.moneda}"></td>
                    <td th:text="${info.datosCajero}"></td>
                </div>
            </tr>
            </tbody>
        </table>

        <h2> Redes Sociales</h2>
        <table class="table table-bordered table-sm mt-2">
            <thead>
            <tr>
                <th>Direccion IP</th>
                <th> Fecha Hora</th>
                <th> Descripcion</th>
                <th> Tipo</th>
                <th> Perfil</th>



            </tr>
            </thead>
            <tbody>

            <tr th:each="info : ${causa.informacion}" >
                <div th:if="${info.esRedSocial==true}">
                    <td th:text="${info.DireccionIP}"></td>
                    <td th:text="${#dates.format(info.FechaHora, 'dd/MM/yyyy')}"></td>
                    <td th:text="${info.descripcion}"></td>
                    <td th:text="${info.tipo}"></td>
                    <td th:text="${info.perfil}"></td>
                </div>

            </tr>
            </tbody>
        </table>



        <br>

        <td><a class="btn btn-info" th:href="@{/causas/edit/{id}(id=${causa.id})}">Editar</a></td>
        <br>
        <br>
        <a class="btn btn-info" th:href="@{/causas/listaCausas}">Volver</a>
    </div>


</body>
</html>