<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar causa</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container border gx-    5">
        <h1 >Editar Causa</h1>
        <form action="#" th:action="@{/causas/update}" th:object="${causa}" method="post">
            <h2 th:text="${causa.numero}"></h2>
            <input type="hidden" th:value="${causa.id}" th:attr="name='id'"/>
            <div class="form-group">
                <label for="descripcion">descripcion</label>
                <input id="descripcion" type="text" th:field="*{descripcion}"/>
            </div>
           <!-- <div class="ui checkbox">
                <label>Estado de la causa</label>
                <input type="checkbox" th:field="*{estado}" checked/>
            </div>-->
            <label>Estado de la causa</label>
            <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="habilitado" name="habilitado" class="custom-control-input" value="1" th:field="*{estado}">
                    <label class="custom-control-label" for="habilitado">abierta</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="deshabilitado" name="deshabilitado" class="custom-control-input" value="0" th:field="*{estado}">
                    <label class="custom-control-label" for="deshabilitado">cerrada</label>
                </div>
            </div>

            </br>

            <button type="submit" class="btn btn-primary" name="newCausa">Update</button>
            <h1><a class="btn btn-info" th:href="@{/causas/view/{id}(id=${causa.id})}">volver</a></h1>
        </form>
    </div>

</body>
</html>