<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar causa</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container border gx-    5">
        <h1 >Editar Causa</h1>
        <form action="#" th:action="@{/causas/update}" th:object="${causa}" method="post">
            <h2 th:text="${causa.numero}"></h2>
            <input type="hidden" th:value="${causa.id}" th:attr="name='id'"/>
            <div class="form-group">
                <label for="descripcion">descripcion</label>
                <input id="descripcion" type="text" th:field="*{descripcion}"/>
            </div>

            <button type="submit" class="btn btn-primary" name="newCausa">Update</button>
            <h1><a class="btn btn-info" th:href="@{/causas/listaCausas}">volver</a></h1>
        </form>
    </div>

</body>
</html>