<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mas detealles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container border gx-5">
        <h1 >Informacion</h1>
        <span class="d-block p-2 bg-primary text-white" th:text="${'Nº: ' + causa.numero}"></span>
        <span class="d-block" th:text="${'Fecha: ' + causa.fecha}"></span>
        <span class="d-block" th:text="${'Victima: ' + causa.victima}"></span>
        <span class="d.block" th:text="${'Victimario: '+ causa.victimario}"></span>
        <br>
        <span class="d.block" th:text="${'Descripcion:'+ causa.descripcion}"></span>

        <br>

        <br>
        <td><a class="btn btn-info" th:href="@{/causas/edit/{id}(id=${causa.id})}">Editar</a></td>
        <br>
        <br>
        <a class="btn btn-info" th:href="@{/causas/listaCausas}">Volver</a>
    </div>


</body>
</html>