<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Llamada</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container border gx-    5">
        <h1 >Editar Llamada</h1>
        <form action="#" th:action="@{/llamadas/update}" th:object="${llamadaTelefonica}" method="post">

            <div class="form-group">
                <label for="direccionIP">Direccion IP: </label>
                <input id="direccionIP" type="text" th:field="*{direccionIP}"/>
            </div>
            <div class="form-group">
                <label for="fechaHora">Fecha y hora: </label>
                <input id="fechaHora" type="datetime-local" th:field="*{fechaHora}"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion: </label>
                <input id="descripcion" type="text" th:field="*{decripcion}"/>
            </div>
            <div class="form-group">
                <label for="numeroLlamada">Nº de llamada</label>
                <input id="numeroLlamada" type="text" th:field="*{numeroLlamada}"/>
            </div>
            <div class="form-group">
                <label for="numeroReceptor">Numero Receptor: </label>
                <input id="numeroReceptor" type="text" th:field="*{numeroReceptor}"/>
            </div>
            <div class="form-group">
                <label for="duracion">Duracion (min): </label>
                <input id="duracion" type="text" th:field="*{duracion}"/>
            </div>
            <button type="submit" class="btn btn-primary" name="newLlamada">Update</button>
           <!-- <h1><a class="btn btn-info" th:href="@{/causas/view/View/{id}(id=${llamadaTelefonica.causa.id})}">Volver</a></h1>-->
        </form>
    </div>

</body>
</html>