<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Llamada</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container border gx-    5">
        <h1 >Editar Llamada</h1>
        <form action="#" th:action="@{/llamadas/update}" th:object="${llamadaTelefonica}" method="post">

            <div class="form-group">
                <label for="direccionIP">Direccion IP: </label>
                <input id="direccionIP" type="text" th:field="*{direccionIP}"/>
            </div>
            <div class="form-group">
                <label for="fechaHora">Fecha y hora: </label>
                <input id="fechaHora" type="datetime-local" th:field="*{fechaHora}"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion: </label>
                <input id="descripcion" type="text" th:field="*{decripcion}"/>
            </div>
            <div class="form-group">
                <label for="numeroLlamada">Nº de llamada</label>
                <input id="numeroLlamada" type="text" th:field="*{numeroLlamada}"/>
            </div>
            <div class="form-group">
                <label for="numeroReceptor">Numero Receptor: </label>
                <input id="numeroReceptor" type="text" th:field="*{numeroReceptor}"/>
            </div>
            <div class="form-group">
                <label for="duracion">Duracion (min): </label>
                <input id="duracion" type="text" th:field="*{duracion}"/>
            </div>
            <button type="submit" class="btn btn-primary" name="newLlamada">Update</button>
           <!-- <h1><a class="btn btn-info" th:href="@{/causas/view/View/{id}(id=${llamadaTelefonica.causa.id})}">Volver</a></h1>-->
        </form>
    </div>

</body>
</html>