<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Crear Llamada</title>
</head>
<body>
    <div th:object="${causa}"th:with="causaID=${causa.id}">

    <div>Nueva Llamada</div>
    <form action="#" th:action="@{/llamadas}" th:object="${llamadaTelefonica}" method="post">
        <label> DireccionIP:</label><input type="text" th:field="*{DireccionIP}" required/><br>
        <label>numero llamada:</label><input type="text" th:field="*{numeroLlamada}" required/><br>
        <label>numnero receptor:</label><input type="text" th:field="*{numeroReceptor}" required/><br>
        <label>Duración:</label><input type="text" th:field="*{duracion}" required/><br>
        <label>Descripción:</label><input type="text" th:field="*{descripcion}" required/><br>
        <label>fecha</label><input type="datetime-local" th:field="*{FechaHora}" required><br>
       <!-- <label>Nro de causa:</label><input type="text" th:field="*{causa}" th:placeholder="${causaID}" /><br>-->
        <button type="submit" name="newLlamadaTelefonica">Create</button>
    </form>
    </div>

</body>
</html>