<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Llamada</title>
</head>
<body>
    <div>Nueva Llamada</div>
    <form action="#" th:action="@{/llamadas}" th:object="${llamadaTelefonica}" method="post">
        <label> DireccionIP:</label><input type="text" th:field="*{DireccionIP}"/><br>
        <label>numero llamada:</label><input type="text" th:field="*{numeroLlamada}"/><br>
        <label>numnero receptor:</label><input type="text" th:field="*{numeroReceptor}"/><br>
        <label>Duración:</label><input type="text" th:field="*{duracion}"/><br>
        <label>Causa:</label><input type="text" th:field="*{causa}"/><br>
        <label>Descripción:</label><input type="text" th:field="*{descripcion}"/><br>
        <label>fecha</label><input type="datetime-local" th:field="*{FechaHora}"><br>

        <button type="submit" name="newLlamadaTelefonica">Create</button>
    </form>
</body>
</html>