<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Llamada</title>
</head>
<body>
    <div>nueva Llamada</div>
    <form action="#" th:action="@{/llamadas}" th:object="${llamadaTelefonica}" method="post">
        <label> DireccionIP:</label><input type="text" th:field="*{DireccionIP}"/><br>
        <label>numero llamada:</label>><input type="text" th:field="*{numeroLlamada}"/><br>
        <label>numnero receptor:</label>><input type="text" th:field="*{numeroReceptor}"/><br>
        <label>Duracion:</label>><input type="text" th:field="*{duracion}"/><br>
       <!-- <label>fecha</label><input type="date" th:field="*{FechaHora}"><br>-->

        <button type="submit" name="newLlamadaTelefonica">Create</button>
    </form>
</body>
</html>